<!doctype html>
<!-- <html> -->
  <head>
      <title>Jinx Bird</title>

      <!-- CSS will go here -->

  </head>

  <body>

    <b>Jinx Bird Logo</b>

    {% if "user_id" in session %}
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}

    <hr>

    {% block content %}

      <!-- This is where the STUFF will go -->

    {% endblock %}

<!-- I want my Javascript to be in it's own file when shit's working -->
  <!-- <script src="static/js/main.js"></script> -->

  </body>
<!-- </html> -->