<!doctype html>
<!-- <html> -->
  <head>
      <title>Jinx Bird</title>

      <!-- CSS will go here -->

      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

  <body>

    <b>Jinx Bird Logo</b>

    {% if "user_id" in session %}
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}

    <hr>

    {% block content %}

      <!-- This is where the STUFF will go -->

    {% endblock %}

  </body>
<!-- </html> -->