<!doctype html>
<!-- <html> -->
  <head>
      <title>Jinx Bird</title>

      <!-- Older version of Bootstrap because 4 has ERRORS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- CSS will go here -->

      <!-- JQuery -->
      <script src="http://code.jquery.com/jquery.js"></script>

  </head>

  <body>

    <b>Jinx Bird Logo</b>

    {% if "user_id" in session %}
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}

    <hr>

    {% block content %}

      <!-- This is where the STUFF will go -->

    {% endblock %}

<!-- Below is for Bootstrap  -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
<!-- </html> -->