{% extends 'base.html' %}
<head>
    <style>

        body {
            background: #dbb700 !important;
        }

    </style>
</head>

{% block content %}

<!-- Bird species search field -->

<div class="container-fluid">
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
            <br>
            <center><h1>What bird <br>elludes <br>you?</h1></center>

                <br>
                <center>
                    <form action="/" method="POST">

                      <input type="text" name="bird_species">
                      <input type="hidden" name="lat" id="lat" value="loading...">
                      <input type="hidden" name="lng" id="lng" value="loading...">

                      <input type="submit" id="bird-search">
                    </form>

                </center>

                <div id="triangle-bottomleft"></div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">

            <div id="triangle-bottomright"></div>

        </div>
    </div>
</div>



<script src="/static/js/geolocation.js"></script>

{% endblock %}
