{% extends 'base.html' %}
{% block content %}

<!-- Bird species search field -->

<h4>What bird elludes you?</h4>

<form action="/" method="POST">

  <input type="search" name="bird_species">
  <input type="submit" id="bird-search" data-lat="test" data-lng="123">
  
<!-- MAP -->


    <script>

// Try HTML5 geolocation.
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
  }
 


    </script>

{% endblock %}