{% extends 'base.html' %}
{% block content %}

<!-- <script src="/static/birds.js"></script> -->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<p> {{ session.get("common_name") }} </p>
<p> {{ lat }} </p>
<p> {{ lng }} </p>


<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <!-- Javascript starts here. Will need to go into it's own file -->
    <script>

      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.773972, lng: -122.431297},
          zoom: 7
        });
        infoWindow = new google.maps.InfoWindow({
          width: 150
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            // This is the stuff the ebird API needs to get sighting info
            let data = {
                  "lat": {{ lat }},
                  "lng": {{ lng }},
                  "speciesId": '{{ species_id }}'
             }

             // AJAX give the API the data, get results and use them for markers

             $.get("/results.json", data, function (results) {
                    alert(results.birds );
                });

            // Retrieve data about each bird sighting and make markers

            // make an AJAX call will have callback function for rest of stuff - pass data w/ species id, lat, long

            // get, route /results.json, data, callback fuction

            // callback function will have the data from ebird_api()
            // callback function loop over to make markers 
            // in javascript ajax to server results.json, which then calls ebird_api function, which returns json to back to server file, then return same json to ajax callback

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDplp0jQKlQ9DBrhxT6HsG2DHJD3ZuwDHY&callback=initMap">
    </script>
  </body>



{% endblock %}