{% extends 'base.html' %}
{% block content %}


<p> {{ session.get("common_name") }} </p>
<p> {{ lat }} </p>
<p> {{ lng }} </p>


<head>
<!-- CSS for the map -->
  <style>
    #map_wrapper {
        height: 600px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }
  </style>


</head>

<body>

  <!-- Map HTML -->

  <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
  </div>

<!-- Map begins here. Right now it uses Jinja, so we can't put it in a
seperate file.  -->

<script> 

  jQuery(function($) {
      // Asynchronously Load the map API 
      var script = document.createElement('script');
      script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDplp0jQKlQ9DBrhxT6HsG2DHJD3ZuwDHY&callback=initialize";
      document.body.appendChild(script);
  });

  function initialize() {
      var map;
      var bounds = new google.maps.LatLngBounds();
      var mapOptions = {
          mapTypeId: 'roadmap'
      };
                      
      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);


      // Beginning of ebird API 

      // This is the stuff the ebird API needs to get sighting info
      let data = {
            "lat": {{ lat }},
            "lng": {{ lng }},
            "speciesId": '{{ species_id }}'
       }

       // AJAX gives the API the data, get results and use them for markers
       $.get("/results.json", data, function (results) {
              console.log(results.birds[1].howMany);

          let sighting, marker, html; 

          for (let key in results.birds) {
              sighting = results.birds[key];


                // Define the marker
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(sighting.lat, sighting.lng),
                    map: map,
                    title: 'number: ' + results.birds.howMany,
                });
          }

        })

      // Automatically center the map fitting all markers on the screen
      map.fitBounds(bounds);

          //   // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
      var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
          this.setZoom(14);
          google.maps.event.removeListener(boundsListener);
      });
      
  }

</script>
<!-- End Map Javascript -->


  <!-- Wikipedia output div -->
  <div id="output">

  </div>
</div>

<script>

// Wikipedia search 
$( window ).load(function(event) {
  var searchTerm = "{{ session.get("common_name") }}";
  // event.preventDefault();
  $.ajax({
    url: `https://en.wikipedia.org/w/api.php?action=opensearch&format=json&search=${searchTerm}&limit=1&callback=?`,
    // limit=1 to only get one result
    method: "GET",
    dataType: "jsonp",
    success: function(data) {
      $("#output").html(""); // clears out contents from earlier searches
      for (var i = 0; i < data[1].length; i++) {
        $("#output").append(`<a href='${data[3][i]}' target='_blank'><div id='image${i}'></div><span>${data[1][i]}</span></a><p>${data[2][i]}</p>`);
      }
      $.ajax({
        url: `https://en.wikipedia.org/w/api.php?action=query&format=json&prop=pageimages%7Cpageterms&generator=prefixsearch&redirects=1&formatversion=2&piprop=thumbnail&pithumbsize=250&pilimit=20&wbptterms=description&gpssearch=${searchTerm}&gpslimit=20`,
        method: "GET",
        dataType: "jsonp",
        success: function(newData) {
          for (var i = 0; i < 3; i++) {
            if (newData.query.pages[i].hasOwnProperty("thumbnail") === true) {
              $("#image" + (newData.query.pages[i].index - 1)).html(`<img src='${newData.query.pages[i].thumbnail.source}'>`);
            } else {
              $("#image" + (newData.query.pages[i].index - 1)).html("<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Article_icon_cropped.svg/512px-Article_icon_cropped.svg.png' class='responsive-img valign articleIcon'>");
              // img if there is no response
            }
          }
        },
        error: function() {
          console.log("second call unsuccessful");
        }
      })
    },
    error: function() {
      alert("Error, please try again");
    }
  });
});

</script>




</body>



{% endblock %}